__pycache__/CameraGroup.cpython-312.pyc
__pycache__/Collectible.cpython-312.pyc
__pycache__/defines.cpython-312.pyc
__pycache__/Enemy.cpython-312.pyc
__pycache__/Engine.cpython-312.pyc
__pycache__/Platform.cpython-312.pyc
__pycache__/Player.cpython-312.pyc
levels/__pycache__/Level01.cpython-312.pyc

